#header {
    display: none;
  }
  
  .divHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  #header div:first-child {
    justify-content: flex-start;
  }
  
  .divHeader span {
    width: 100%;
    height: 1px;
    margin: 2% 0%;
    display: block; 
    background-color: #ffffff;
  }

  .divHeader p:hover {
    color: #800000;
    text-decoration: underline;
  }

  .burger span {
    width: 7%;
    height: 2px;
    margin: 2% 0%;
    display: block; 
    background-color: #ffffff;
  }
  