body {
  margin: 10% 5%;
  width: 90%;
  height: 100%;
  background-color: #242424;
}


#root {
  color: rgb(202, 202, 202);
  width: 100%;
  height: 100%;
}

#header {
  display: none;
}

.burger span {
  width: 7%;
  height: 2px;
  margin: 2% 0%;
  display: block; 
  background-color: #ffffff;
}

.divHeader span {
  width: 100%;
  height: 1px;
  margin: 2% 0%;
  display: block; 
  background-color: #ffffff;
}

#title {
  color: #800000;
  font-family: "Kalnia", serif;
  font-size: 3rem;
  width: 50%;
  margin: 8% 10%;
}

#message {
  font-size: 1.5rem;
  margin: 0% 15%; 
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

#project {
  width: 80%;
  font-size: 1.5rem;
  margin: 0% 15%; 

}

@media (min-width:801px) {

body {
  margin: 5%;
}

#header {
  font-size: 1.5rem;
  margin: 0 auto; 
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.divHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#header div:first-child {
  justify-content: flex-start;
}

#remplissage {
  width: 100%;
  height: 100vh;
}

#title {
  color: #800000;
  font-family: "Kalnia", serif;
  font-size: 8rem;
  width: 50%;
  margin: 8% 10%;
}

#message {
  font-size: 3rem;
  margin: 0% 25% 0% 25%; 
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

#project {
  width: 80%;
  margin: 5% auto;
}

.span-line {
  height: 2px;
  display: block; 
  width: 100%; 
  background-color: #ffffff;
}

}